{% extends 'base.html' %}

{% block title %}{{ board.name }}{% endblock %}

{% block content %}
    <h1>{{ board.name }}</h1>
    <h2>Members</h2>
    {% for member in board.members %}
        <h3>{{ member.full_name }}</h3>
        {% if member.time_entries %}
            <table border="1">
                <thead>
                <tr>
                    <td>Spent</td>
                    <td>Estimated</td>
                    <td>Card</td>
                </tr>
                </thead>
                <tbody>
                {% for time_entry in member.time_entries %}
                    <tr>
                        <td>{{ time_entry.spent }}</td>
                        <td>{{ time_entry.estimated }}</td>
                        <td>{{ time_entry.card.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>{{ member.total_time.spent }}</td>
                    <td>{{ member.total_time.estimated }}</td>
                    <td>TOTAL</td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
    {% else %}
        <li>None</li>
    {% endfor %}

    <h2>Lists</h2>
    {% for list in board.lists if not list.closed %}
        <h3>{{ list.name }}</h3>
        {% if list.cards %}
            <table border="1">
                <thead>
                <tr>
                    <th>What</th>
                    <th>When</th>
                    <th>Who</th>
                    <th>Spent</th>
                    <th>Estimated</th>
                </tr>
                </thead>
                <tbody>
                {% for card in list.cards %}
                    {% for time in card.time_entries %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ card.time_entries|length }}">{{ card.name }}</td>
                            {% endif %}
                            <td>{{ time.datetime.strftime('%Y-%m-%d') }}</td>
                            <td>{{ time.person.full_name }}</td>
                            <td>{{ time.spent }}</td>
                            <td>{{ time.estimated }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ card.name }}</td>
                            <td colspan="4">N/A</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Cards</p>
        {% endif %}
    {% endfor %}

{% endblock %}
